---
layout: default
---
<div class="post-detail">
    <article class="post">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-info">
            {% if page.categories.size > 0 %}
            <span>Category:&nbsp;&nbsp;{{page.categories}}</span>
            {% endif %}
            <time>{{ page.date | date: "%Y-%m-%d" }}</time>
        </div>
        <div class="post-content-wrapper">
            <div class="post-content">
                {{ content }}
            </div>
        </div>
    </article>
</div>

{% if page.next %}
<div class="next-post">
    <div class="next">上一篇</div>
    <a href="{{ page.previous.url }}">
    <h3 class="post-title">{{ page.next.title }}</h3>
    </a>
</div>
{% endif %}
{% include disqus.html %}
